<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haze">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <meta-data
        android:name="com.baidu.lbsapi.API_KEY"
        android:value="9kHcO4dXERiNtFbGoG3xAfuyn8qzPkVB" >
    </meta-data>
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/weather"
        android:label="@string/app_name"
        android:roundIcon="@drawable/weather"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.haze.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.haze.WeatherActivity" />

        <service android:name="com.baidu.location.f"
                 android:enabled="true"
                 android:process=":remote"/>
        <service
            android:name="com.example.haze.service.AutoUpdateService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>